{% include directory ~ '/partials/header.html.twig' %}

<div class="main-header"></div>
{{ page.subnaviation }}
<div class="container">

	<h1>This is the home page</h1>
	<main role="main">
		<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

		<div class="row">
			<!-- main content -->
			<div class="col-xs-12">
				<div class="layout-content">
					{{ page.content }}
				</div>
			</div>

		</div>

	</main>

</div>

{% include directory ~ '/partials/footer.html.twig' %}

