{% include directory ~ '/partials/header.html.twig' %}
{{ page.subnaviation }}
<div class="container">

	<main role="main">
		<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

		<div class="row">
			<!-- sidebar -->
			{% if page.sidebar %}
			<div class="col-xs-12 col-sm-4 well">
					<aside class="layout-sidebar-first" role="complementary">
						
					</aside>
				{% endif %}
			</div>
			{{ page.sidebar }}

			<!-- main content -->
			{% if page.sidebar %}
			<div class="col-xs-12 col-sm-8">
			{% else %}
			<div class="col-xs-12">
			{% endif %}
				<div class="layout-content">
					{{ page.content }}
				</div>
			</div>

		</div>

	</main>

</div>{# /.layout-container #}

{% include directory ~ '/partials/footer.html.twig' %}
